body {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

html {
    height: 100%;
}

.content-wrap {
    flex: 1;
    align-items: center;
}
.footer {
    flex-shrink: 0;
    width: 100%;
}
main {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
}
.table {
    width: 100%;
}
.card {
    width: 75%;
}